<h1 mat-dialog-title>Agregar Alumno</h1>
<div mat-dialog-content>
  <form>
    <!--
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="alumno.nombre">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Primer Apellido</mat-label>
      <input matInput [(ngModel)]="alumno.primerApellido">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Segundo Apellido</mat-label>
      <input matInput [(ngModel)]="alumno.segundoApellido">
    </mat-form-field>
-->
    <!-- Add other form fields here... -->

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="addAlumno()">Guardar</button>
</div>
